@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.nav {
  background-image: linear-gradient(to bottom, #2a4d5f, #1f3845);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  @include tablet {
    padding: 1rem 2rem;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__link {
    color: #fff;
    padding: 4rem 1rem 1rem;
  }

  .active {
    border-bottom: 5px solid $coral;
    background-color: #1f3845;
  }
}
